@namespace WiredBrainCoffee.UI.Admin
@page "/admin/order/history"

<div class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <AdminNav />
                <br />
                <br />
            </div>
            <div class="col-md-10">
                @if (Orders == null)
                {
                    <p>Loading...</p>
                }
                else
                {
                    <div>
                        <h2>Order History</h2>
                        <hr />
                        <div class="order-history">
                            <div class="grid">
                                <QuickGrid Class="admin-grid table table-striped table-bordered" Items="Orders" Virtualize="true" OverscanCount="5">
                                    <PropertyColumn Property="@(p => p.Id)" Sortable="true" />
                                    <PropertyColumn Property="@(p => p.OrderNumber)" Sortable="true" />
                                    <PropertyColumn Property="@(p => p.LastName)" Sortable="true" />
                                    <PropertyColumn Property="@(p => p.FirstName)" Sortable="true" />
                                    <PropertyColumn Property="@(p => p.Notes)" Sortable="true" />
                                    <PropertyColumn Property="@(p => p.Created)" Sortable="true" />
                                    <PropertyColumn Property="@(p => p.PromoCode)" Sortable="true" />
                                    <PropertyColumn Property="@(p => p.Items.Count)" Sortable="true" />
                                </QuickGrid>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



